html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("/public/glassesImage/background.jpg") center/cover no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.the-frame {
  position: relative;
  overflow: hidden;
}

.the-glass {
  position: absolute;
  top: 26%;
  left: 21.6%;
  width: 56.5%;
}

.the-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 992px) {
  .the-info h4 {
    font-size: .75rem;
    margin-bottom: 0;
  }
  .the-info p {
    display: none;
  }
}

.glasses {
  max-width: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.glasses:hover {
  transform: scale(110%);
}
